/*navbar*/
.contenido__nav {
  background-color: map-get($map: $colores, $key: "lightestblue");

  .paginas__navbar {
    width: 100%;
    justify-content: center;
    font-size: large;
    font-weight: bold;
  }
}
